/* Custom Class-less version for React */
// Set the root element
$semantic-root-element: "#root";

// Enable <header>, <main>, <footer> inside $semantic-root-element as containers
$enable-semantic-container: true;

// Enable .classes
$enable-classes: true;

@import "@picocss/pico/scss/pico";


:root {
    --spacing: .3rem;
}

.warning {
    color: red;
}
